<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img style="    width: 125px;" src="../../../assets/img/logo.png" alt="Logo">
                </div>
                <h1 class="text-center">
                    Register Here !!

                </h1>

                <form>

                    <!-- username -->

                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Username</mat-label>
                            <input matInput placeholder="Enter here">
                            <mat-hint>Hint</mat-hint>
                        </mat-form-field>
                    </p>

                </form>

            </div>
        </div>
    </div>
</div>