<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mt20">
            <div class="col-md-6 offset-md-3">

                <mat-card>

                    <div class="container text-center">
                        <img style="    width: 125px;" src="../../../assets/img/logo.png" alt="Logo">
                    </div>
                    <h1 class="text-center">
                        Login Here !!

                    </h1>


                    <form (ngSubmit)="formSubmit()">

                        <!-- username -->

                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>User Name</mat-label>
                            <input required [(ngModel)]="user.username" name="username" matInput
                                placeholder="Enter here">
                            <mat-hint>Valid username!</mat-hint>
                        </mat-form-field>

                        <!-- password -->

                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input autocomplete="new-password" required [(ngModel)]="user.password" name="password"
                                type="password" matInput placeholder="Password">
                            <mat-hint>give your password!</mat-hint>

                        </mat-form-field>

                        <div class="container text-center">
                            <button type="submit" mat-raised-button color="primary">Register</button>
                            <button style="margin-left: 20px;" mat-raised-button color="accent">Clear</button>
                        </div>


                    </form>
                </mat-card>



            </div>
        </div>
    </div>
</div>